doctype html

html(lang='en')
	
head
	title SACOE
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href='../css/materialize.css')
	link(rel="stylesheet" href='../css/main.css')
	link(rel="stylesheet" href='../css/icon.css')
	link(rel="stylesheet" href='../css/fuente.css')
	script(type="text/javascript" src="../js/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../js/materialize.min.js")
	

body(class="Oswald")

	header

		nav(class="indigo top-nav")

			div(class="nav-wrapper")
				ul
					li(class="hide-on-large-only")

						a(class="sideNav" data-activates="slide-out")
							i(class="material-icons left") menu

				a(href="../inicio" class="brand-logo Oswald margen-dere") SACOE

				ul(id="nav-mobile" class="right")

					li
						a(href="/salida")
							i(class="material-icons") exit_to_app
	main

		ul(id="slide-out" class="side-nav fixed")
			
			li(class="logo")
				img(class="responsive-img" src="../img/cac.jpg")

			li(class="search")

				div(class="row center")
			
				form(method="post" action="/buscar" class="col s12")

					div(class="row")

						div(class="col s1")

						div(class="input-field col s10 card")

							input(id="search" placeholder="Buscar..." class="deleteBorder" type="text" name="search")
				
						div(class="col s1")

			li(class="bold")
				a(href="/inicio" class="waves-effect waves-red") Inicio
					i(class="material-icons") home

				a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
					i(class="material-icons") person_ad

			li(class="bold")
				a(href="/persona/" class="waves-effect waves-red") Ganados
					i(class="material-icons") people

			li(class="bold")
				a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
					i(class="material-icons") equalizer


		h4.center Agregar persona ganada

		div(class="contenedor-form card-panel")

			div(class="row center")

				form(method="post" action="/nuevo" class="col s12")

					div(class="row")

						div(class="input-field col s12 m4")

							input(id="fecha_contactado" type="date" placeholder="Fecha al ser ganado" name="fecha_contactado" class="datepicker")


						div(class="input-field col s12 m4")
							
							input(id="fecha_nacimiento" type="date"  placeholder="Fecha de nacimiento" name="fecha_nacimiento" class="datepicker")
							
						div(class="input-field col s12 m4")

							input(id="nombre" type="text" name="nombre" class="validate")
							label(for="nombre") Nombre

					div(class="row")

						div(class="input-field col s12 m4")

							input(id="apellido" type="text" name="apellido" class="validate")
							label(for="apellido") Apellido

						div(class="input-field col s12 m4")

							select(name="sexo" id="sexo")
								option(value="" disabled selected) Selecciona el sexo
								option(value="m") Masculino
								option(value="f") Femenino

						div(class="input-field col s12 m4")

							select(name="heredad" id="heredad")
								option(value="" disabled selected) Selecciona la heredad

								each campo in datos

									option(value="#{campo.id}")= campo.nombre
									


							label Heredad

					div(class="row")

						div(class="input-field col s12 m4")
							
							select(name="nacionalidad" id="nacionalidad")
								option(value="" disabled selected) Selecciona la nacionalidad
								option(value="v") Venezolano
								option(value="e") Extranjero


						div(class="input-field col s12 m4")
							

							input(id="ocupacion" type="text" name="ocupacion" class="validate")
							label(for="ocupacion") Ocupación
							
						div(class="input-field col s12 m4")

							input(id="ciudad" type="text" name="ciudad" class="validate")
							label(for="ciudad") Ciudad

					div(class="row")

						div(class="input-field col s12 m4")

							input(id="telefono" type="text" name="telefono" class="validate")
							label(for="telefono") Telefono

						div(class="input-field col s12 m4")
							
							input(id="invitado_por" type="text" name="invitado_por" class="validate")
							label(for="invitado_por") Invitado por
						

						div(class="input-field col s12 m4")

							input(id="correo" type="email" name="correo" class="validate")
							label(for="correo") Correo

					div(class="row")

						div(class="input-field col s12")

							textarea(id="fecha_visitar" type="textarea" name="fecha_visitar" class="materialize-textarea")
							label(for="fecha_visitar") Dia y hora para visitar
					
					div(class="row")
						
						div(class="input-field col s12")

							textarea(id="direccion" type="textarea" name="direccion" class="materialize-textarea")
							label(for="direccion") Dirección

					div(class="row")
						
						div(class="input-field col s12")

							textarea(id="celula_insertar" type="textarea" name="celula_insertar" class="materialize-textarea")
							label(for="celula_insertar") Celula a insertar

					div(class="row")
						
						div(class="input-field col s12")

							textarea(id="peticion_oracion" type="textarea" name="peticion_oracion" class="materialize-textarea")
							label(for="peticion_oracion") Peticion de oración

					div(class="row")

						div(class="input-field col s12")

							input(id="lugar_contacto" type="text" name="lugar_contacto" class="validate")
							label(for="lugar_contacto") Lugar

					div(class="row")

						div(class="col s12")

							button(class="btn waves-effect indigo waves-light col s12 large" type="submit" name="action") Guardar

	footer


	script(type="text/javascript" src="../js/componentsMaterialize.js")