doctype html

html(lang='en')
	
head
	title SACOE
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href='../css/materialize.css')
	link(rel="stylesheet" href='../css/main.css')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	script(type="text/javascript" src="../js/jquery-2.1.1.min.js")
	script(type="text/javascript" src="../js/materialize.min.js")
	
	
body(class="grey lighten-2")
	div(class="row")
		div.container
			div(class="col s12 center margen-sup")
				i(class="material-icons large") error
				h1(class="red-text text-darken-2") 403
				h5 Error de autenticación
				a(class="waves-effect waves-red btn-flat" href="/") Iniciar secion

