doctype html

html(lang='en')
	
head
	title SACOE
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	link(rel="stylesheet" href='css/materialize.css')
	link(rel="stylesheet" href='css/main.css')
	link(rel="stylesheet" href='css/icon.css')
	link(rel="stylesheet" href='css/fuente.css')
	script(type="text/javascript" src="js/jquery-2.1.1.min.js")
	script(type="text/javascript" src="js/materialize.min.js")
	
body(class="Oswald")

	header

		nav(class="indigo top-nav")

			div(class="nav-wrapper")

				ul
					li(class="hide-on-large-only")

						a(class="sideNav" data-activates="slide-out")
							i(class="material-icons left") menu

				a(href="/inicio" class="brand-logo Oswald margen-dere") SACOE

				
				ul(id="nav-mobile" class="right")
					
					if user.rol_id == 1 
						li
							a(class='dropdown-button' data-activates='dropdown1')
								i(class="material-icons" id="active-notifi") notifications
									-//Aqui se colocara el puntico rojo cuando haya notificaciones

						
							ul(id='dropdown1' class='dropdown-content')
								li
									a(id="num-notifi" href="#!" class="col s12  black-text left") NOTIFICACIONES
										
								li(class="divider")
									-//Aqui se renderizaran las notificaciones
							


					li
						a(href="/logout")
							i(class="material-icons") exit_to_app
	main

		ul(id="slide-out" class="side-nav fixed")
			
			li(class="logo")
				img(class="responsive-img" src="img/cac.jpg")

			li
			
				form(method="post" action="/buscar")

					div(class="input-field col s12 card")
						input(id="search" placeholder="Buscar..." class="deleteBorder" type="search" name="search")
						label(for="search")
			li.divider

			-// Administrador
			if user.rol_id == 1

				li(class="bold active")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold")
					a(href="/persona/" class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer
				li(class="bold")
					a(href="/usuarios" class="waves-effect waves-red") Usuarios
						i(class="material-icons black-text") supervisor_account
			
			-//Coordinador
			if user.rol_id == 2
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold")
					a(href="/persona/" class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

				li(class="bold")
					a(href="/estadisticas" class="waves-effect waves-red") Estadisticas
						i(class="material-icons black-text") equalizer

			-//Analista - Lider de casa de paz
			if user.rol_id == 3
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

				li(class="bold")
					a(href="/persona/nuevo" class="waves-effect waves-red") Agregar
						i(class="material-icons black-text") person_add

				li(class="bold")
					a(href=`/persona/${user.id}` class="waves-effect waves-red") Ganados
						i(class="material-icons black-text") wc

			-//Usuario
			if user.rol_id == 4
				li(class="bold")
					a(href="/inicio" class="waves-effect waves-red") Inicio
						i(class="material-icons black-text") home 

		div(class="slider")
			ul(class="slides")
				li
					img(src="img/congre.jpg")
					div(class="caption center-align")
					

				li
					img(src="img/equipoCAC.jpg")
					div(class="caption left-align")
						
				li
					img(src="img/congre2.jpg") 
					div(class="caption right-align")
						

				li
					img(src="img/caminata.jpg")
					div class="caption center-align")

		div(class="section white")

			div(class="row container")
				
				ul#notificacion

				h2(class="header blue-text") Fase ganar
				p(class="grey-text text-darken-3 lighten-3") Nuestro trabajo como primer peldaño de la escalera del exito la cual esta compuesta por las fases ganar, consolidar, discipular y enviar. Es conectar a esa alma que esta perdida, con el Amor de Dios el Amor Agape, ese amor incondicionla.Por eso te inivitamos a ser esa persona que conecte multitudes con ese Amor, es muuy sencillo conectar a uno mas, tan solo con  compartir tu experiencia podras unir a esa persona con el Amor de Dios.
	footer  
					
        

	script(type="text/javascript" src="js/componentsMaterialize.js")
	script(type="text/javascript" src="js/socket.js")
