.num-notificaciones{
    top: -40px;
    position: relative;
    color: #ffffff !important;
    margin: 0 -.2%;
    background-color: #f44336;
    border-radius: 100%;
    height: 10px !important;
    width: 10px !important;

}


/*Ocultar elemento*/

.ocultar {
	display: none;
}

/*Side Nav*/
header, main, footer {
	padding-left: 250px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.margen-dere {
	margin-left: 5%
}

.azul-telegram{
	background: #0088cc;
	color: #0088cc;
}
/*--------------------vista Login----------------------------*/

.contenedor-login {
    margin-top: 7%;
    margin-left: 30%;
    margin-right: 30%;
}
.margen-superior{
	margin-top: 5%;
}

.sombra-abajo {
	-webkit-box-shadow: 5px 6px 10px grey;
	-moz-box-shadow: 5px 6px 10px grey;
	box-shadow: 5px 6px 10px grey;
}
.sombra-arriba {
	-webkit-box-shadow: -5px -6px 10px grey;
	-moz-box-shadow: -5px -6px 10px grey;
	box-shadow: -5px -5px 10px grey;
}


/*-----------------Vista de inicio-------------------------*/

.img-user {
	width: 50px;
	margin-top: 5px;
}

/*tipo de letra*/
.Oswald{
	font-family: 'Oswald', sans-serif;
}
/*Eliminar bordes*/
.deleteBorder{
	border-style: none !important;
}
/*Margen superior*/
.margen-sup{
	margin-top: 5%;
}
/*------------Colores de los inputs de tipo text-------*/

/* label color */
.input-field label {
 color: #bdbdbd ;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color:#3f51b5;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #3f51b5;
 box-shadow: 0 1px 0 0 #3f51b5;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #4caf50;
 box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #f44336;
 box-shadow: 0 1px 0 0 #f44336;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}

   /*Colores inputs de tipo password*/

/* label focus color */
.input-field input[type=password]:focus + label {
 color: #3f51b5;
}
/* label underline focus color */
.input-field input[type=password]:focus {
 border-bottom: 1px solid #3f51b5;
 box-shadow: 0 1px 0 0 #3f51b5;
}
/* valid color */
.input-field input[type=password].valid {
 border-bottom: 1px solid #4caf50;
 box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=password].invalid {
 border-bottom: 1px solid #f44336;
 box-shadow: 0 1px 0 0 #f44336;
}

/*---Colores de los inputs de tipo de tipo email---------*/

/* label focus color */
.input-field input[type=email]:focus + label {
 color: #3f51b5;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #3f51b5;
 box-shadow: 0 1px 0 0 #3f51b5;
}
/* valid color */
.input-field input[type=email].valid {
 border-bottom: 1px solid #4caf50;
 box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=email].invalid {
 border-bottom: 1px solid #f44336;
 box-shadow: 0 1px 0 0 #f44336;
}


/*Colores de los inputs de tipo number*/

.input-field input[type=number]:focus + label {
 color: #3f51b5;
}
/* label underline focus color */
.input-field input[type=number]:focus {
 border-bottom: 1px solid #3f51b5;
 box-shadow: 0 1px 0 0 #3f51b5;
}
/* valid color */
.input-field input[type=number].valid {
 border-bottom: 1px solid #4caf50;
 box-shadow: 0 1px 0 0 #4caf50;
}
/* invalid color */
.input-field input[type=number].invalid {
 border-bottom: 1px solid #f44336;
 box-shadow: 0 1px 0 0 #f44336;

}
/*------------------Colores de los textarea------------*/
.input-field textarea[type=textarea]:focus + label {
 color:#3f51b5;
}
/* label underline focus color */
.input-field textarea[type=textarea]:focus {
 border-bottom: 1px solid #3f51b5;
 box-shadow: 0 1px 0 0 #3f51b5;
}

/*--------------------Vista Agregar ganados------------------*/
.contenedor-form {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

/*Estilos para el footer*/
.pagina-footer {
	background-color: #5c6bc0;
}
.pagina-footer .copyright {
	
	position: relative;
	overflow: hidden;
	min-height: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	  -ms-flex-align: center;
	      align-items: center;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(51, 51, 51, 0.08);
    

}
